/* Universal Selector */
*{
    margin: 0;
    padding: 0;
}
/* Header */
header,
footer {
    background-color: rgb(38, 97, 80);
    width: auto;
    height: auto;
    border-bottom: rgb(221, 175, 148) solid .5rem;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
    float: right;
    position: relative;
}

body {
    background-color: white;
    color: rgb(79, 72, 70);
    text-align: center;
}

h1 {
    font-size: 28px;
}

section {
    background-color: blue;
    border-top: rgb(221, 175, 148) solid 5px ;
}