/* Header */
*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(38, 97, 80);
    width: auto;
    height: auto;
    border-bottom: rgb(221, 175, 148) solid .5rem;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: right;
}

a {
    align-items: right;
    text-decoration: none;
    color: white;
    margin: 25px;
    padding: 15px;

}

body {
    background-color: white;
    align-items: center;
    color: rgb(79, 72, 70);
}

h1 {
    font-size: 28px;
}