/* Universal Selector */
*{
    margin: 0;
    padding: 0;
}
/* Header */
header,
footer {
    background-color: rgb(38, 97, 80);
    width: auto;
    height: auto;
    border-bottom: rgb(221, 175, 148) solid .5rem;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
    float: right;
    position: relative;
}

body {
    background-color: white;
    color: rgb(79, 72, 70);
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-top: 15px;
}
h2 {
    font-size: 30px;
    font-weight: bolder;
    margin: 15px;
}

section {
    background-color: rgb(232, 206, 191);
    border-top: rgb(221, 175, 148) solid 5px ;
}
img {
    margin: 20px;
}

.Contact {
    border: rgb(221, 175, 148) solid 5px ;
    margin:0px;
    padding: 0px;
    height: auto;
    width: auto;
}
button {
    color: rgb(253, 248, 245);
    background-color: rgb(79, 72, 70);
    border: ridge black;
}